<footer class="page-footer font-small bg-white pt-4" id="rodape">

    <div class="container">
  
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center p-3">
                <h4 class="text-black"> Siga-nos nas redes sociais</h4>
            </div>
        </div>
        
       <div class="col-md-10">

            <div style="display: flex; flex-flow: row;">
        
                <div class="card" style="width: 20rem; margin-left: 20%;" >
                    <img class="card-img-top rounded-circle" height="75px" width="75px"
                        src="https://i.imgur.com/UUogKuo.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Thiago Silva</p>
                        <a href="#" target="_blank"><img class="p-2" height="45px" width="45px" src="https://i.imgur.com/4BPPsVA.png" alt="dssada"></a>
                        <a href="#" target="_blank"><img class="p-2" height="45px" width="45px" src="https://i.imgur.com/bi9MLXd.png" alt="ccss"></a>
                    </div>
                    
                </div>
                <div class="card" style="width: 20rem; margin-left: 1%;" >
                    <img class="card-img-top rounded-circle" height="75px" width="75px"
                    src="https://i.imgur.com/UUogKuo.jpg"
                    alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Thiago Silva</p>
                        <a href="#" target="_blank"><img class="p-2" height="45px" width="45px" src="https://i.imgur.com/4BPPsVA.png" alt="dssada"></a>
                        <a href="#" target="_blank"><img class="p-2" height="45px" width="45px" src="https://i.imgur.com/bi9MLXd.png" alt="ccss"></a>
                    </div>
                    
                </div>
        
                <div class="card" style="width: 20rem; margin-left: 1%;" >
                    <img class="card-img-top rounded-circle" height="75px" width="75px"
                        src="https://i.imgur.com/UUogKuo.jpg"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Thiago Silva</p>
                        <a href="#" target="_blank"><img class="p-2" height="45px" width="45px" src="https://i.imgur.com/4BPPsVA.png" alt="dssada"></a>
                        <a href="#" target="_blank"><img class="p-2" height="45px" width="45px" src="https://i.imgur.com/bi9MLXd.png" alt="ccss"></a>
                    </div>
                    
                </div>
        
                <div class="card" style="width: 20rem; margin-left: 1%;" >
                    <img class="card-img-top rounded-circle" height="75px" width="75px"
                    src="https://i.imgur.com/UUogKuo.jpg"
                    alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Thiago Silva</p>
                        <a href="#" target="_blank"><img class="p-2" height="45px" width="45px" src="https://i.imgur.com/4BPPsVA.png" alt="dssada"></a>
                        <a href="#" target="_blank"><img class="p-2" height="45px" width="45px" src="https://i.imgur.com/bi9MLXd.png" alt="ccss"></a>
                    </div>
                    
                </div>
        
                <div class="card" style="width: 20rem; margin-left: 1%;" >
                    <img class="card-img-top rounded-circle" height="75px" width="75px"
                    src="https://i.imgur.com/UUogKuo.jpg"
                    alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">Thiago Silva</p>
                        <a href="#" target="_blank"><img class="p-2" height="45px" width="45px" src="https://i.imgur.com/4BPPsVA.png" alt="dssada"></a>
                        <a href="#" target="_blank"><img class="p-2" height="45px" width="45px" src="https://i.imgur.com/bi9MLXd.png" alt="ccss"></a>
                    </div>
                    
                </div>
        
            </div>
        </div> 
  
    </div>
  
    <div class="footer-copyrigth bg-dark text-center py-3">
  <span class="text-light">₢ 2020 Copyrigth: </span>
  
    </div>
  
  </footer>
