#img-bg{
    background-image: url(../../assets/IMG/postura-plana-da-area-de-trabalho-com-teclado-e-agenda_23-2148397852.jpg);
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}