
    <!---inicio Menu-->
<nav class="navbar navbar-expand-lg navbar-success bg-success">


    <p class="nav-item active">
        <img src="https://i.imgur.com/bSLX2zv.jpg" alt="Foto do Blog" width="80px" height="80px"
            class="img-fluid rounded-circle">
    </p>


    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a class="nav-link " href="#" style="color: gainsboro;">Login <span class="sr-only">(página
                        atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" style="color: gainsboro;">História</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#rodape" style="color: gainsboro;">Sobre nós</a>
            </li>
            <li class="nav-item dropdown">
                <a style="color: gainsboro;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Jardinagem</a>
                    <a class="dropdown-item" href="#">Casa</a>
                    <a class="dropdown-item" href="#">Comodidade</a>
                    <a class="dropdown-item" href="#">Decoração</a>
                    <a class="dropdown-item" href="#">Utilidades</a>
                    <a class="dropdown-item" href="#">Outras opções</a>
                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
</nav>
<!---fim Menu-->

<!---Inicio carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item">
            <img class="d-block w-100" width="1000" height="600" src="https://i.imgur.com/CtjUA6K.jpg"
                alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" width="1000" height="600" src="https://i.imgur.com/cxiT0d1.jpg"
                alt="Segundo Slide">
        </div>
        <div class="carousel-item active">
            <img class="d-block w-100" width="1000" height="600" src="https://i.imgur.com/qENcnx4.jpg"
                alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" width="1000" height="600" src="https://i.imgur.com/MqVc5Sk.jpg"
                alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<!---Fim carousel-->

<br>
<br>

<div class="col-md-10">

    <div style="display: flex; flex-flow: row;">

        <div class="card" style="width: 18rem; margin-left: 20%;" >
            <img class="card-img-top" 
                src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/sustentabilidade.jpg"
                alt="Imagem de capa do card">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-left: 1%">
            <img class="card-img-top"
                src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/sustentabilidade.jpg"
                alt="Imagem de capa do card">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-left: 1%">
            <img class="card-img-top"
                src="http://horizonteambiental.com.br/wp-content/uploads/2020/07/Os-tr%C3%AAs-pilares-da-sustentabilidade.jpg"
                alt="Imagem de capa do card">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-left: 1%">
            <img class="card-img-top"
                src="https://www.hypeverde.com.br/wp-content/uploads/2014/06/sustentabilidade_o_que_e-e1415398365424.jpg"
                alt="Imagem de capa do card">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin-left: 1%">
            <img class="card-img-top"
                src="https://cdn.staticaly.com/img/deltasaneamento.com.br/wp-content/uploads/2014/07/Sustentabilidade-ambiental.jpg"
                alt="Imagem de capa do card">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>

    </div>
</div>